input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

html, body {
    height: 100%;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;    
}

.content-wrap {
    flex: 1 0 auto;
    justify-content:flex-start;
    margin-bottom: 20px;
}

.custom-footer {
    background-color: lightcyan;
    font-size: smaller;
    flex-shrink: 0;
}

.custom-header {
    background-color: rgb(0, 179, 134);
    font-size: 1.5rem;
    text-wrap: wrap;
}

.logo {
    height: 60px;
}

.logo-heading {
    font-size: 2rem;
    padding: 10px;
    color: white;
}

.navbar-custom {
    background-color: #00b386;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: rgb(201, 255, 233);
    font-size: 1rem;
}

.navbar-custom .nav-link:hover {
    color: #ffffff;
}

.navbar-nav .current {
    font-weight: bold;
    color: white;
}

.custom-dropdown {
    background-color: rgba(2, 197, 148, 0.945);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.322);
}

.custom-dropdown .dropdown-item {
    color: white;
}

.custom-dropdown .dropdown-item:hover {
    background-color: rgba(0, 179, 134, 0.856);
    color: white;
}

.dashboard-message {
    background-color: rgba(255, 255, 255, 0.521);
    color: rgb(0, 82, 75);
    font-size: 1.25rem;
    text-align: center;
    padding: 10px 0;
}

.login-box {
    background-color: rgb(216, 255, 243);
}

.registration-box {
    background-color: rgb(216, 255, 243);
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.btn-custom {
    background-color: rgb(0, 179, 134);
    color: white;
    padding: 10px 30px;
}

.btn-custom:hover {
    background-color: rgb(0, 134, 101);
    color: white;
}

.custom-link {
    text-decoration: none;
    color: rgb(0, 134, 101);
}

.custom-link:hover {
    text-decoration: underline;
    color: rgb(0, 179, 134);
}

.form-control:focus {
    border-color: rgb(0, 134, 101);
    box-shadow: 0 0 0 0.2rem rgba(0, 134, 101, 0.25);
}

.registration-box table td {
    padding: 0.5rem;
    vertical-align: middle;
}

.registration-box table td:first-child {
    width: 50%;
    text-align: right;
    padding-right: 1rem;
}

.registration-box .form-label {
    margin-bottom: 0;
    color: rgb(0, 70, 64);
    font-weight: 500;
}

.registration-box .form-control { 
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.registration-box .form-control:focus, .form-control:active {
    border-color: rgb(0, 134, 101);
    box-shadow: 0 0 0 0.2rem rgba(0, 134, 101, 0.25);
}

.required:after {
    content: " *";
    color: red;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    float: left;
    border: rgba(0, 0, 0, 0.541) 1px solid;
  }
  
.account-heading {
    font-size: 1.5rem;
}

.page-headings {
    color:rgb(0, 82, 75);
}

.t-header {
    background-color: rgb(0, 179, 134) !important;
    color:white !important;
}

.custom-modal {
    background-color: rgb(223, 255, 245);
}

.custom-modal .modal-header {
    color:rgb(0, 70, 64);
}

.hide {
    display: none;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}