{% extends "layout2.html" %}

{% block navbar %}
<ul class="nav nav-underline">
    <li class="nav-item">
        <a class="nav-link active" style="color:white;" href="{{ url_for('home') }}">Home</a>
    </li>
    {% if not blocked %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('services') }}">Services</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('search') }}">Search</a>
    </li>
    {% endif %}
    {% if current_user.is_authenticated %}
    {% if not blocked %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('summary') }}">Summary</a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a href="{{ url_for('profile') }}" class="nav-link">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a href="{{ url_for('login') }}" class="nav-link">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('customer_register') }}">Register</a>
    </li>
    {% endif %}
</ul>
{% endblock navbar %}
{% block dashboard_message %}
DASHBOARD
{% endblock dashboard_message %}


{% block content %}
{% if blocked %}
<div class="alert alert-danger fade show" role="alert">
    Your account has been blocked. Please contact the administrator at <a
        href="mailto:admin.homeease@homeease.com">admin.homeease@homeease.com</a>.
</div>
{% else %}
<div class="container mt-5 w-100">
    {% if current_user.is_authenticated %}
    <h2 class="page-headings pb-3">Welcome, {{ user.name }}!</h2>
    {% else %}
    <h2 class="page-headings pb-3">Home services at your doorstep!</h2>
    {% endif %}
    <div class="row">
        <h4 class="page-headings mb-3 col-12 col-sm-6 col-lg-6">What are you looking for today?</h4>
    </div>
    <div class="card-group">
        <div class="row gy-4">
            <div class="col-12 col-sm-6 col-lg-2">

                <a href="{{ url_for('services',stype='cleaning') }}">
                    <div class="card mb-4 shadow" style="width: 10em; height:16em">
                        <img src="{{ url_for('static',filename='cleaner.jpg') }}" class="card-img-top img-fluid"
                            style="height: 70%; object-fit: contain;" alt="Cleaner">
                        <div class="card-body">
                            <h5 class="card-title">Cleaner</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-2">
                <a href="{{ url_for('services',stype='salon') }}">
                    <div class="card mb-4 shadow" style="width: 10em; height:16em">
                        <img src="{{ url_for('static',filename='salon.webp')}}" class="card-img-top img-fluid"
                            style="height: 70%; object-fit: contain;" alt="Salon">
                        <div class="card-body">
                            <h5 class="card-title">Salon</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-2">
                <a href="{{ url_for('services',stype='plumbing') }}">
                    <div class="card mb-4 shadow" style="width: 10em; height:16em">
                        <img src="{{ url_for('static',filename='plumber.webp')}}" class="card-img-top img-fluid"
                            style="height: 70%; object-fit: contain;" alt="Plumber">
                        <div class="card-body">
                            <h5 class="card-title">Plumber</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-2">
                <a href="{{ url_for('services',stype='electrical') }}">
                    <div class="card mb-4 shadow" style="width: 10em; height:16em">
                        <img src="{{ url_for('static',filename='electrician.png')}}" class="card-img-top img-fluid"
                            style="height: 70%; object-fit: contain;" alt="Electrician">
                        <div class="card-body">
                            <h5 class="card-title">Electrician</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-2">
                <a href="{{ url_for('services',stype='repair') }}">
                    <div class="card mb-4 shadow" style="width: 10em; height:16em">
                        <img src="{{ url_for('static',filename='acrepair.webp')}}" class="card-img-top img-fluid"
                            style="height: 70%; object-fit: contain;" alt="AC and Appliance Repair">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 1em;">AC & Appliance Repair</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-2">
                <a href="{{ url_for('services') }}">
                    <div class="card mb-4 shadow" style="width: 10em; height:16em">
                        <img src="{{ url_for('static',filename='others.jpg')}}" class="card-img-top img-fluid"
                            style="height: 70%; object-fit: contain;" alt="Other Services">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 1.2em;">All Services</h5>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
    {% if not current_user.is_authenticated %}
    <div class="text-center">
        <h2 class="page-headings">Join us to explore more services!</h2>
    </div>

    {% else %}
    <div class="container m-auto mt-4 table-responsive">
        <h3 class="page-headings py-2">Your Service History</h3>
        <table class="table table-hover align-middle">
            <thead class="align-middle">
                <tr class="table-primary">
                    <th class="t-header" scope="col" style="width: 5%;">Request ID</th>
                    <th class="t-header" scope="col" style="width: 30%;">Service</th>
                    <th class="t-header" scope="col" style="width: 15%;">Professional Name</th>
                    <th class="t-header" scope="col" style="width: 10%;">Phone Number</th>
                    <th class="t-header" scope="col" style="width: 10%;">Date of Request</th>
                    <th class="t-header" scope="col" style="width: 10%;">Date of Completion</th>
                    <th class="t-header" scope="col" style="width: 15%;">Remarks</th>
                    <th class="t-header" scope="col" style="width: 15%;">Action</th>
                </tr>
            </thead>
            {% if not requests %}
            <tbody>
                <tr>
                    <td colspan="7" class="text-center">No requests found</td>
                </tr>
            </tbody>
            {% else %}
            <tbody class="table-group-divider">
                {% for request in requests %}
                <tr>
                    <td scope="row">{{ request.id }}</td>
                    <td>{{ request.service.name }}
                        <br>
                        <small>{{ request.service.description }}</small>
                    </td>
                    {% set flag=True %}
                    {% if request.prof_id %}
                    <td><a href="{{ url_for('professional_details',prof_id=request.prof_id)}}">{{ request.professional.name }}</a></td>
                    <td>{{ request.professional.phone }}</td>
                    {% set flag=False %}
                    {% endif %}
                    {% if flag %}
                    <td colspan="2" style="text-align: center;">Professional not assigned yet</td>
                    {% endif %}
                    <td>{{ request.date_of_request | utc_to_local }}</td>
                    <td>
                        {% if request.date_of_completion %}
                        {{ request.date_of_completion | utc_to_local }}
                        {% else %}
                        Not completed yet
                        {% endif %}
                    </td>
                    <td>{{ request.remarks }} 
                        {% if request.service_status != 'completed' %}
                        <div><a href="{{ url_for('edit_remarks',request_id=request.id) }}">Edit Remarks</a></div>
                        {% endif %}
                    </td>
                    <td>
                        {% if request.service_status == 'requested' %}
                        <a href="" class="btn btn-sm mb-1 btn-primary disabled">Requested</a>
                        <a href="{{ url_for('cancel_request',request_id=request.id) }}" class="btn btn-sm mb-1 btn-outline-danger">Cancel</a>
                        {% elif request.service_status == 'accepted' %}
                        <a href="" class="btn btn-sm mb-1 btn-outline-success disabled">Accepted</a>
                        {% elif request.service_status == 'in progress' %}
                        <a href="{{ url_for('close_request',request_id=request.id) }}" class="btn btn-sm mb-1 btn-outline-primary">Close Request</a>
                        {% elif request.service_status == 'completed' %}
                        <a href="" class="btn mb-1 btn-success disabled">Completed</a>
                        <a href="{{ url_for('edit_review',request_id=request.id) }}">Edit Review</a>
                        {% endif %}
                    </td>
                </tr>

                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
    {% endif %}


    {% endif %}

    <!-- MODALS -->
    <!-- Edit remarks Modal -->
    {% if edit_remarks %}
    <div class="modal show" id="editRemarksModal" tabindex="-1" aria-labelledby="editRemarksModalLabel"
        aria-hidden="true" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content shadow-lg custom-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="editRemarksModalLabel">Edit Remarks</h5>
                    <a href="{{ url_for('dashboard') }}" class="btn-close" aria-label="Close"></a>
                </div>

                <form id="editRemarksForm" method="POST" action="{{ url_for('edit_remarks') }}">
                    <div class="modal-body">
                        <input type="hidden" name="id" value="{{ edit_remarks.id }}">
                        <p>You are editing remarks for service <b>{{ edit_remarks.service.name }}</b>.</p>
                        <label for="remarks">Remarks:</label>
                        <textarea class="form-control" id="remarks" name="remarks" rows="2">{{ edit_remarks.remarks }}</textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}

    <!-- Cancel Request -->
    {% if cancel_request %}
    <div class="modal show" id="cancelRequestModal" tabindex="-1" aria-labelledby="cancelRequestModalLabel"
        aria-hidden="true" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content shadow-lg custom-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelRequestModalLabel">Cancel Request</h5>
                    <a href="{{ url_for('dashboard') }}" class="btn-close" aria-label="Close"></a>
                </div>
                <form id="cancelRequestForm" method="POST" action="{{ url_for('cancel_request') }}">
                    <div class="modal-body">
                        <input type="hidden" name="id" value="{{ cancel_request.id }}">
                        <p>Are you sure you want to cancel your request for service <b>{{ cancel_request.service.name }}</b>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Yes, Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- View Professional Modal -->
    {% if view_professional %}
        <div class="modal show" id="viewProfessionalModal" tabindex="-1" aria-labelledby="viewProfessionalModalLabel"
            aria-hidden="true" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content shadow-lg custom-modal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="viewProfessionalModalLabel">Professional Details</h5>
                        <a href="{{ url_for('dashboard') }}" class="btn-close" aria-label="Close"></a>
                    </div>
                    <div class="modal-body">
                        <p><b>Professional Name:</b> {{ view_professional.name }}</p>
                        <p><b>Phone Number:</b> {{ view_professional.phone }}</p>
                        <p><b>Email:</b> {{ view_professional.user.email }}</p>
                        <p><b>Address:</b> {{ view_professional.address }}</p>
                        <p><b>Pincode:</b> {{ view_professional.pincode }}</p>
                        <p><b>Rating:</b> 
                            {% if rating %}
                            <span class="badge bg-success rounded-pill">
                                ☆ {{ rating }}
                            </span>
                            {% else %}
                                Not rated yet
                            {% endif %}
                            
                        </p>
                        {% if reviews %}
                        <p><b>Reviews:</b></p>
                        <ul class="list-group">
                            {% for review in reviews %}
                            <li class="list-group-item">
                                <h6>{{ review.request.customer.name }}</h6>
                                <div>
                                <small>
                                <span class="badge bg-success rounded-pill">
                                    ☆ {{ review.rating }}
                                </span> <span class="text-secondary">{{ review.date_submitted | utc_to_local }}</span></small>
                                </div>
                                <small>
                                {{ review.review_text }}
                                </small>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!--Close Request Modal -->
        {% if close_request %}
        <div class="modal show" id="closeRequestModal" tabindex="-1" aria-labelledby="closeRequestModalLabel"
            aria-hidden="true" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content shadow-lg custom-modal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="closeRequestModalLabel">Close Request</h5>
                        <a href="{{ url_for('dashboard') }}" class="btn-close" aria-label="Close"></a>
                    </div>
                    <form id="closeRequestForm" method="POST" action="{{ url_for('close_request') }}">
                        <div class="modal-body">
                            <input type="hidden" name="id" value="{{ close_request.id }}">
                            <p>You are closing the request for service <b>{{ close_request.service.name }}</b>.</p>

                            <h5 class="page-headings">Tell us about your experience!</h5>
                            <b><label for="rating">Rating:</label></b>
                            <div class="rating">
                                <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                                <label for="star5">☆</label>
                                <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                                <label for="star4">☆</label>
                                <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                                <label for="star3">☆</label>
                                <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
                                <label for="star2">☆</label>
                                <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                                <label for="star1">☆</label>
                            </div><br>
                            <b><label for="review">Review:</label></b>
                            <textarea class="form-control" id="review" name="review" rows="2" placeholder="Write your review (Optional)"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Close Request</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Edit Review -->
        {% if edit_review %}
        <div class="modal show" id="editReviewModal" tabindex="-1" aria-labelledby="editReviewModalLabel"
            aria-hidden="true" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content shadow-lg custom-modal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editReviewModalLabel">Edit Review</h5>
                        <a href="{{ url_for('dashboard') }}" class="btn-close" aria-label="Close"></a>
                    </div>
                    <form id="editReviewForm" method="POST" action="{{ url_for('edit_review') }}">
                        <div class="modal-body">
                            <input type="hidden" name="id" value="{{ edit_review.id }}">
                            <p>You are editing review for service <b>{{ edit_review.request.service.name }}</b>.</p>
                            <b><label for="rating">Rating:</label></b>
                            <div class="rating">
                                <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                                <label for="star5">☆</label>
                                <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                                <label for="star4">☆</label>
                                <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                                <label for="star3">☆</label>
                                <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
                                <label for="star2">☆</label>
                                <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                                <label for="star1">☆</label>
                            </div><br>
                            <label for="review">Review:</label>
                            <textarea class="form-control" id="review" name="review" rows="2">{{ edit_review.review_text }}</textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

                            

        {% endblock %}