{% extends "layout2.html" %}

{% block navbar %}
<ul class="nav nav-underline">
    <li class="nav-item">
        <a class="nav-link active" style="color:white;" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Summary</a>
    </li>
    {% if current_user.is_authenticated %}
    <li class="nav-item">
        <a href="{{ url_for('profile') }}" class="nav-link">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a href="{{ url_for('login') }}" class="nav-link">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('customer_register') }}">Register</a>
    </li>
    {% endif %}
</ul>
{% endblock navbar %}
{% block dashboard_message %}
    DASHBOARD
{% endblock dashboard_message %}


{% block content %}
    

{% endblock %}