{% extends "layout2.html" %}
{% block navbar %}
<ul class="nav nav-underline">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
    </li>
    
    {% if not blocked %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('services') }}">Services</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" style="color:white;" href="{{ url_for('search') }}">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Summary</a>
    </li>
    {% endif %}
    {% if current_user.is_authenticated %}
    <li class="nav-item">
        <a href="{{ url_for('profile') }}" class="nav-link">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a href="{{ url_for('login') }}" class="nav-link">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('customer_register') }}">Register</a>
    </li>
    {% endif %}
</ul>
{% endblock navbar %}
{% block dashboard_message %}
    SEARCH
{% endblock dashboard_message %}


{% block content %}
    {% if blocked %}
        <div class="alert alert-danger fade show" role="alert">
            Your account has been blocked. Please contact the administrator at <a href="mailto:admin.homeease@homeease.com">admin.homeease@homeease.com</a>
        </div>
    {% else %}
    <div class="container my-4">
        <div class="row justify-content-end">
            <div class="col-lg-7 col-md-12">
                <form action="{{ url_for('search') }}" method="get" class="d-flex align-items-center">
                    <div class="input-group">
                        <span class="m-2">Search:&nbsp;</span>
                        <select class="form-select" name="search_by" aria-label="Search by">
                            {% if search_by == 'price' %}
                                <option value="name">Name</option>
                                <option value="price" selected>Base price is lower than</option>
                            {% else %}
                                <option value="name" selected>Name</option>
                                <option value="price">Base price is lower than</option>
                            {% endif %}
                        </select>
                            <input type="text" class="form-control" name="search_term" placeholder="Search..." value="{{ search_term }}" aria-label="Search">
                        <button class="btn btn-custom" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid align-items-center" style="min-width: min-content;">
        <div class="row">
            <h2 class="page-headings col-9 mx-auto px-3">Search Results</h2>
        </div>
        {% if services %}
        <ol class="list-group list-group-numbered m-auto w-75"> 
            {% for service in services %}
                <li class="list-group-item d-flex justify-content-between row">
                    <div class="ms-2 me-auto col-8" style="max-width: 80%;">
                        <div><span class="fw-bold">{{ service.name }} </span>&nbsp;&nbsp;
                        <span class="text-secondary">&#8377;{{ service.price }}</span></div>
                        {{ service.description }}
                        <br>
                        Estimated time required: {{ service.time_required}}
                    </div>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('book_search_service', service_id=service.id) }}" class="btn btn-success w-25 my-4 align-self-center">Book Now</a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="btn btn-success w-25 my-4 align-self-center">Login to Book</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
        {% else %}
        <div class="alert alert-warning fade show w-75 m-auto" role="alert">
            No such services found
        </div>
        {% endif %}

    </div>
    {% endif %}


    <!-- MODALS -->
    {% if bookservice %}
        <div class="modal show" id="bookServiceModal" tabindex="-1" aria-labelledby="bookServiceModalLabel" aria-hidden="true" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content shadow-lg custom-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="bookServiceModalLabel">Book Service</h5>
                <a href="{{ url_for('search') }}" class="btn-close" aria-label="Close"></a>
            </div>
            
            <form id="bookServiceForm" method="POST" action="{{ url_for('book_search_service') }}">
            <div class="modal-body">
                <input type="hidden" name="id" value="{{ bookservice.id }}">
                <p>You are booking for service <b>{{ bookservice.name }}</b>.</p>
                <p><b>Base price:</b> &#8377;{{ bookservice.price }}</p>
                <p><b>Your address:</b> {{ customer.address }} - {{ customer.pincode }}</p>
                <p class="text-secondary"><i>If you wish to book for a different address, please update your address in <a href="{{ url_for('profile') }}">profile</a>.</i></p>
                <label for="remarks">Remarks:</label>
                <textarea class="form-control" id="remarks" name="remarks" rows="2"></textarea>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Confirm My Booking!</button>
            </div>
            </form>
        </div>
        </div>
    {% endif %}


{% endblock %}

