{% extends "layout2.html" %}

{% block navbar %}
<ul class="nav nav-underline">
    <li class="nav-item">
        <a class="nav-link active" style="color:white;" href="{{ url_for('home') }}">Home</a>
    </li>
    {% if not blocked %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Search</a>
        <ul class="dropdown-menu custom-dropdown">
            <li><a class="dropdown-item" href="{{ url_for('search_new_requests') }}">New Requests</a></li>
            {% if user.is_approved %}
            <li><a class="dropdown-item" href="{{ url_for('search_your_requests') }}">Your Requests</a></li>
            {% endif %}
        </ul>
    </li>
        
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('summary') }}">Summary</a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a href="{{ url_for('profile') }}" class="nav-link">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
</ul>
{% endblock navbar %}
{% block dashboard_message %}
DASHBOARD
{% endblock dashboard_message %}


{% block content %}
{% if blocked %}
<div class="alert alert-danger fade show" role="alert">
    Your account has been blocked. Please contact the administrator at <a
        href="mailto:admin.homeease@homeease.com">admin.homeease@homeease.com</a>.
</div>
{% elif not user.is_approved %}
<div class="alert alert-warning fade show" role="alert">
    Your account is not approved yet. Please wait for the administrator to approve your account.
</div>
<div class="container  table-responsive">
    <h3 class="page-headings py-2">Open Requests</h3>
    <table class="table table-hover align-middle">
        <thead class="align-middle">
            <tr class="table-primary">
                <th class="t-header" scope="col">Request ID</th>
                <th class="t-header" scope="col">Customer Name</th>
                <th class="t-header" scope="col">Mobile No.</th>
                <th class="t-header" scope="col">Address</th>
                <th class="t-header" scope="col">Date of Request</th>
                <th class="t-header" scope="col" style="width: 15%;">Remarks</th>
                <th class="t-header" scope="col" style="width: 15%;">Action</th>
            </tr>
        </thead>

        <tbody class="table-group-divider">
            {% for req in new_requests %}
            <tr>
                <td scope="row">{{ req.id }}</td>
                <td>{{ req.customer.name }}</td>
                <td>{{ req.customer.phone }}</td>
                <td>{{ req.customer.address }}<br>Pincode: {{ req.pincode }}</td>
                <td>{{ req.date_of_request | utc_to_local }}</td>
                <td>{{ req.remarks }}</td>
                <td>
                    <a href=""
                        class="btn mr-1 mb-1 btn-outline-success btn-sm disabled">Accept</a>
                    <a href="" class="btn mb-1 btn-outline-danger btn-sm disabled">Reject</a>
                    <div><small>You can accept/reject requests once you're approved.</small></div>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="container  table-responsive">
    <h3 class="page-headings py-2">Open Requests</h3>
    <table class="table table-hover align-middle">
        <thead class="align-middle">
            <tr class="table-primary">
                <th class="t-header" scope="col">Request ID</th>
                <th class="t-header" scope="col">Customer Name</th>
                <th class="t-header" scope="col">Mobile No.</th>
                <th class="t-header" scope="col">Address</th>
                <th class="t-header" scope="col">Date of Request</th>
                <th class="t-header" scope="col" style="width: 15%;">Remarks</th>
                <th class="t-header" scope="col" style="width: 15%;">Action</th>
            </tr>
        </thead>

        <tbody class="table-group-divider">

        {% if not new_requests %}
        <tr>
            <td colspan="7" class="text-center">No new open requests</td>
        </tr>
        {% else %}
        {% set ns = namespace(count = 0) %}
        {% for req in new_requests if req.id not in rejected_requests %}
            <tr>
                <td scope="row">{{ req.id }}</td>
                <td>{{ req.customer.name }}</td>
                <td>{{ req.customer.phone }}</td>
                <td>{{ req.customer.address }}<br>Pincode: {{ req.pincode }}</td>
                <td>{{ req.date_of_request | utc_to_local }}</td>
                <td>{{ req.remarks }}</td>
                <td>
                    <a href="{{ url_for('accept_request',request_id=req.id) }}" class="btn mr-1 mb-1 btn-outline-success btn-sm">Accept</a>
                    <a href="{{ url_for('reject_request',request_id=req.id) }}" class="btn mb-1 btn-outline-danger btn-sm">Reject</a>
                </td>
            </tr>
            {% set ns.count = 1 %}
        {% endfor %}
        {% if ns.count == 0 %}
        <tr>
            <td colspan="7" class="text-center">No new open requests</td>
        </tr>
        {% endif %}
        {% endif %}
        </tbody>
    </table>
</div>

<div class="container  table-responsive">
    <h3 class="page-headings py-2">Your Requests</h3>
    <table class="table table-hover align-middle">
        <thead class="align-middle">
            <tr class="table-primary">
                <th class="t-header" scope="col">Request ID</th>
                <th class="t-header" scope="col">Customer Name</th>
                <th class="t-header" scope="col">Mobile No.</th>
                <th class="t-header" scope="col">Address</th>
                <th class="t-header" scope="col">Date of Request</th>
                <th class="t-header" scope="col">Remarks</th>
                <th class="t-header" scope="col" style="width: 17%;">Status</th>
            </tr>
        </thead>

        <tbody class="table-group-divider">
        {% if not prev_requests %}
        <tr>
            <td colspan="7" class="text-center">No previous requests</td>
        </tr>
        {% else %}
        {% for req in prev_requests %}
            <tr>
                <td scope="row">{{ req.id }}</td>
                <td>{{ req.customer.name }}</td>
                <td>{{ req.customer.phone }}</td>
                <td>{{ req.customer.address }}<br>Pincode: {{ req.pincode }}</td>
                <td>{{ req.date_of_request | utc_to_local }}</td>
                <td>{{ req.remarks }}</td>
                <td>
                    {% if req.service_status == 'accepted' %}
                    <a href="{{ url_for('in_progress',request_id=req.id) }}" class="btn btn-outline-info">Mark as In Progress</a>
                    {% elif req.service_status == 'in progress' %}
                    <a class="btn btn-info disabled">In Progress</a>
                    {% elif req.service_status == 'completed' %}
                    <a class="btn btn-success disabled">Closed</a>
                    <span class="badge bg-success rounded-pill">☆ {{ req.review[0].rating }} Rating</span>
                    {% endif %}    
                </td>
            </tr>

        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

<div class="container  table-responsive">
    <h3 class="page-headings py-2">Your Reviews</h3>
    <table class="table table-hover align-middle">
        <thead class="align-middle">
            <tr class="table-primary">
                <th class="t-header" scope="col">Review ID</th>
                <th class="t-header" scope="col">Customer Name</th>
                <th class="t-header" scope="col">Date of Request</th>
                <th class="t-header" scope="col">Date of Completion</th>
                <th class="t-header" scope="col">Rating</th>
                <th class="t-header" scope="col">Review</th>
                <th class="t-header" scope="col" style="width: 15%;">Action</th>
            </tr>
        </thead>

        <tbody class="table-group-divider">
        {% if not reviews %}
        <tr>
            <td colspan="7" class="text-center">No reviews yet</td>
        </tr>
        {% else %}
        {% for review in reviews %}
            <tr>
                <td scope="row">{{ review.id }}</td>
                <td>{{ review.request.customer.name }}</td>
                <td>{{ review.request.date_of_request | utc_to_local }}</td>
                <td>{{ review.request.date_of_completion | utc_to_local }}</td>
                <td><span style="color: #ffc400;">&#9733;</span> {{ review.rating }}.0</td>
                <td>{{ review.review_text }}</td>
                <td>
                    <a href="{{ url_for('report_customer',customer_id=review.customer_id)}}" class="btn btn-outline-danger">Report Customer</a>
                </td>
            </tr>

        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

{% endif %}


    <!-- MODALS -->
    <!-- Modal for accepting request -->
    {% if accept_request %}                    
    <div class="modal show" id="acceptRequestModal" tabindex="-1" aria-labelledby="acceptRequestModalLabel" aria-hidden="true" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content shadow-lg custom-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="acceptRequestModalLabel">Accept Request</h5>
                    <a href="{{ url_for('dashboard') }}" class="btn-close" aria-label="Close"></a>
                </div>
                <form id="acceptRequestForm" method="POST" action="/accept_request">
                    <div class="modal-body">
                        <input type="hidden" name="id" value="{{ accept_request.id }}">
                        <p>Are you sure you want to accept request <b>{{ accept_request.id }}</b>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Accept</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Modal for rejecting request -->
    {% if reject_request %}
    <div class="modal show" id="rejectRequestModal" tabindex="-1" aria-labelledby="rejectRequestModalLabel" aria-hidden="true" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content shadow-lg custom-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="rejectRequestModalLabel">Reject Request</h5>
                    <a href="{{ url_for('dashboard') }}" class="btn-close" aria-label="Close"></a>
                </div>
                <form id="rejectRequestForm" method="POST" action="/reject_request">
                    <div class="modal-body">
                        <input type="hidden" name="id" value="{{ reject_request.id }}">
                        <p>Are you sure you want to reject request <b>{{ reject_request.id }}</b>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Modal for in_progress -->
    {% if in_progress %}
    <div class="modal show" id="inProgressModal" tabindex="-1" aria-labelledby="inProgressModalLabel" aria-hidden="true" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content shadow-lg custom-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="inProgressModalLabel">Mark as In Progress</h5>
                    <a href="{{ url_for('dashboard') }}" class="btn-close" aria-label="Close"></a>
                </div>
                <form id="inProgressForm" method="POST" action="/in_progress">
                    <div class="modal-body">
                        <input type="hidden" name="id" value="{{ in_progress.id }}">
                        <p>Are you sure you want to mark request <b>{{ in_progress.id }}</b> as In Progress?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Mark as In Progress</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Modal for report customer -->
    {% if report_customer %}
    <div class="modal show" id="reportCustomerModal" tabindex="-1" aria-labelledby="reportCustomerModalLabel" aria-hidden="true" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content shadow-lg custom-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportCustomerModalLabel">Report Customer</h5>
                    <a href="{{ url_for('dashboard') }}" class="btn-close" aria-label="Close"></a>
                </div>
                <form id="reportCustomerForm" method="POST" action="/report_customer">
                    <div class="modal-body">
                        <input type="hidden" name="id" value="{{ report_customer.id }}">
                        <p>Are you sure you want to report customer <b>{{ report_customer.name }}</b>?</p>
                        <p>WARNING: <i>This action cannot be undone.</i></p>
                        <label for="remarks">Please explain why you are reporting this customer:</label>
                        <textarea class="form-control" id="remarks" name="remarks" rows="2" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Report Customer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}



{% endblock %}